#header
  @extend %basic-box
  @extend .mdl-grid
  padding: 1rem
  max-width: none

  > div
    @extend .mdl-cell

    &#block-block-1
      @extend .mdl-cell--4-col

    &#block-system-main-menu
      @extend .mdl-cell--8-col

    +breakpoint($medium-width-breakpoint)
      width: 100% !important
      text-align: center

  h2
    display: none

  img
    height: 7rem

// Main menu styles.
#block-system-main-menu
  ul
    text-align: right
    margin: 0

    +breakpoint($medium-width-breakpoint)
      text-align: center
      padding: 0

  li
    display: inline-block
    list-style: none
    line-height: 9rem
    font-size: $font-size-h3
    +breakpoint($medium-width-breakpoint)
      line-height: 3rem

  a
    text-decoration: none
    color: $pink
    &:hover
      color: $lightest-red
