.view-home

  // > h2
  //   display: none

  ul
    @extend .mdl-grid
    list-style: none
    text-align: center
    align-items: center
    justify-content: center

    li
      @extend .mdl-cell
      @extend .mdl-cell--3-col

    img
      max-width: 100%
      height: auto
