.view-home, #block-views-home-block-1

  > h2
    max-width: 700px
    margin: 0 auto

  ul
    @extend .mdl-grid
    list-style: none
    text-align: center
    align-items: center
    justify-content: center

    li
      @extend .mdl-cell
      @extend .mdl-cell--3-col

    img
      max-width: 100%
      height: auto

#block-views-destaques-block
  width: 100%
  height: auto

  .jcarousel-container
    width: 100%
    height: auto
    box-sizing: border-box
    padding: 0

  .jcarousel-clip
    width: 100%
    height: auto
    box-sizing: border-box

  li
    height: auto !important

  .jcarousel-prev,
  .jcarousel-next
    display: none
